/* Basic Style */
body {
  margin: 0px;
}

.wrapper {
  box-sizing: border-box;
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
  padding: 8px;
  height: 100vh;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
  display: block;
}
.header__link {
  display: block;
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  
  .header { 
    text-align: center;
  }

}
.todo-body {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.add-task-block__row {
  display: flex;
}
.tasks-list {
  margin: 0;
  padding: 0px;
}
.tasks-list__item {
  list-style: none;
}
.todo-body__list-header {
  list-style: none;
}
input, /* Это явно намеренный сброс стилей, здесь можно оставить теги */
button{
  outline: none;
}
.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  box-sizing: border-box;
}
.btn:hover {
  color: #3a3a3a;
}
/* Heading */
.todo-body__list-header {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 46px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.add-task-block__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 46px 0 10px; /* 30 -> 43 pixelperfect adjustement */
  margin: 0;
  text-transform: uppercase;
}
.todo-body__list-header_completed {
  padding: 30px 0 10px;
}
.add-task-block__input, 
.tasks-list-item__input-text {
  box-sizing: border-box;
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.tasks-list-item__input-text:focus {
  color: #333;
}

/* New Task */
.add-task-block__label {
  display: block;
  margin: 0 0 20px;
}
.add-task-block__input {
  width: 56%; /* Оставил, так как в оригинале это значение наследовалось от task */
  display: inline-block;
  flex-grow: 1;
  width: 318px;
}
.add-task-block__add-button:hover {
  color: #0fc57c;
}

/* Task list */
.tasks-list-item {
  box-sizing: border-box;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tasks-list-item > * {
  vertical-align: middle;
}

.tasks-list-item__checkbox {
  margin: 0 10px;
}
.tasks-list-item__label {
  width: 56%; /* from .task in original repo */
  display: inline-block; /* from .task in original repo */
  flex-grow: 1; /* from .task in original repo */
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.tasks-list-item__input-text {
  width: 226px;
}
.tasks-list-item__btn-delete:hover {
  color: #cf2323;
}
.tasks-list-item__btn-delete-img {
  height: 2em;
  margin: -0.5px auto -2.5px auto;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.tasks-list-item__btn-delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks-list .tasks-list-item__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.tasks-list-item__input-text {
  display: none;
}

.tasks-list-item_edit-mode .tasks-list-item__input-text {
  display: inline-block;
  width: 224px;
}

.tasks-list-item_edit-mode .tasks-list-item__label {
  display: none;
}